@import './base.css';

/* 自定义 VANT 主题色 */
:root {
  --van-primary-color: #FF8F00;
  --van-button-primary-background-color: #FF8F00;
  --van-button-primary-border-color: #FF8F00;
  --app-mobile-width: 420px; /* 定义移动端视图的最大宽度 */
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
  background-color: #111;
  min-height: 100vh;
}

/* 所有设备都使用100%宽度，自适应设备宽度 */
#app {
  width: 100%;
  max-width: 100%;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
